<div class="row mt-4 write-post">
  <div class="col-md-6">
    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-title">Blog Title</label>
        <input
          class="form-input"
          type="text"
          id="post-title"
          name="post-title"
          value="{{post.title}}"
        />
      </div>
      <div class="form-group">
        <label for="post-desc">Description:</label>
        <textarea
          class="form-input"
          id="post-desc"
          name="post-desc"
          rows="4"
          cols="50"
        >{{post.description}}</textarea>
      </div>
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-primary save-button"
          onclick="editButtonHandler(event)"
        >Save</button>
      </div>
    </form>
  </div>
</div>